.card:hover{
    background-color: rgb(192, 192, 192);
    color: white;
    cursor: pointer;
    transform: sacle(1.03);
    transition: all 1s ease;
}

.navbar{
    color: black;
}

.display-3{
    color: azure;
}