.sm-icons{ 
    flex-direction: row;
}

body{
    background-image: url(/img/background-img.jpg);
    background-position:top;
    background-repeat: no-repeat;
}

.card:hover{
    background-color: rgba(210, 119, 0, 0.5);
    color: white;
    cursor: pointer;
    transform: sacle(1.03);
    transition: all 1s ease;
}

.navbar{
    color: black;
    
}


#footer{
    z-index: 100;
}

.jumbotron{
}

.card{
}